# ── Admin API ──────────────────────────────────────────────
VITE_ADMIN_API_BASE_URL=https://admin.trbbtw.com/v1/admin
VITE_THIRD_BASE_URL=https://admin.trbbtw.com/v1/third
VITE_IMAGE_BASE_URL=https://images.trbbtw.com
VITE_APP_NAME=TRBB 後台管理系統
VITE_APP_ENV=production
